html {
	font-family: sans-serif;
}

/*-----------------------------------------
Sets background color
------------------------------------------*/
body{
    background: #777;

}

.container{
	margin-left: -10px;
	margin-top: -10px;
    
}
/*-----------------------------------------------------------------------------------------
Says the page your in. If your home it says home. If its intrest page says interest or w.e
-----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------

-----------------------------------------------------------------------*/
#nav {
	background-color: #000;
	color: #fff;
	height: 55px;
	width: 100%;
	margin-top: -1%;
    position: fixed;
	z-index: 1;

}
#name{
	padding-left: 2.7%;
}
#btn{ 
	width: auto;
    list-style: none;
    display: flex;
	position: fixed;
	padding-left: 33.3%;
	top: 0px;

}

#btn a:link{
    text-decoration: none;
    color: #fff;
    background-color:#000;
    padding: 10px 40px 10px 40px;
}
#btn a:visited{
    color:#fff;
}
#btn a:hover{
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

#picture {
   width: 100%;
   height: 80%;
}

#picture, img {
    display: block;
    width: 100%;
}
#content{
	background-color: #000;
	width: 100%;
}
p{
	color: #fff;
}