.container-fullwidth {
    position: fixed;
    width: 100%;
    left: 0;
}

/* Start of NavBar style*/
nav {
    background-color: black;
    color: white;
    height: 3.5em;
}

.navbar-header {
    position: absolute;
    left: 0;
}

ul {
    padding-top: 1em;
}

li {
    list-style-type: none;
}

.navbar a{
    color: white;
}

.navbar a:hover {
    color: #808080;
}

/* End of NavBar style*/

/* Start of Banner */
.banner {
    width: 100%;
    height: 700px;
    padding-top: 4.5em;
    position: absolute;
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    left: 0;
    z-index: -1;
}


.banner h1 {
    float: right;
    padding-top: 4em;
    padding-right: 5em;
    color: white;
    text-shadow: 2px 2px #333;
}

/* End of banner*/

/* Start of about me  */
#portrait{
    background: url(../images/me.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 200px;
    height: 225px;
    z-index: -1;

}

p {
    font-size: 18px;
    text-indent: 40px;
}
#AboutMe {
    padding-top: 750px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

/* End of About me style*/


/* Start of Projects */

#Projects{
    border-bottom: solid black;
}

/* End of Projects */

/* Start of Contact style*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: dimgray;
}

#formHolder {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
